@layer solidjs-modular-components {
  .solidjs-modular-components-Spinner_root {
    display: inline-block;
    width: var(--solidjs-modular-components-Spinner_size);
    height: var(--solidjs-modular-components-Spinner_size);
    transform-origin: center;
    animation: rotation var(--solidjs-modular-components-Spinner_period) infinite linear;
    background-image: conic-gradient(transparent, transparent, var(--solidjs-modular-components-Spinner_color));
    color: var(--solidjs-modular-components-Spinner_color);
    vertical-align: top;
    mask: var(--solidjs-modular-components-Spinner_svg-url) no-repeat center;
    mask-size: contain;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
