@layer solidjs-modular-components {
  .solidjs-modular-components-IconButton_root {
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    padding: 0.2lh;
    border: none;
    border-radius: calc(1px / 0);
    background-color: oklch(0% 0 0 / 0%);
    font: inherit;

    &:not(:disabled) {
      cursor: pointer;

      @media (any-hover: hover) {
        &:hover {
          background-color: oklch(0% 0 0 / 5%);
        }
      }
      &:active {
        background-color: oklch(0% 0 0 / 10%);
      }
    }
  }
}
