@layer solidjs-modular-components {
  .solidjs-modular-components-Icon_root {
    display: inline-block;
    box-sizing: border-box;
    width: var(--solidjs-modular-components-Icon_size);
    height: var(--solidjs-modular-components-Icon_size);

    background-color: currentColor;
    color: var(--solidjs-modular-components-Icon_color);
    vertical-align: top;
    mask: var(--solidjs-modular-components-Icon_url) no-repeat center;
    mask-size: contain;

    /*transform-origin: center;*/
    /*transform: rotate(var(--solidjs-modular-components-Icon_rotate));*/
  }
}
