body {
  margin: 0;
}

.root {
  display: grid;
  grid-template-columns: auto 1fr;
}

.sidebar {
  box-sizing: border-box;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  width: max-content;
  min-width: 10em;
  height: 100svh;
  padding: 2em;
  border-right: 1px solid oklch(90% 0 0);
  gap: 1em;
}

.main {
  padding: 2em 6em;
}
