@layer solid-general-components {
  .solid-general-components-Button_root {
    box-sizing: border-box;
    padding: 0.4em 0.9em;
    border: none;
    border-radius: 0.4em;
    background-color: var(--solid-general-components-Button-button-color);
    color: var(--solid-general-components-inverted-text-color);
    font: inherit;

    &:disabled {
      background-color: color-mix(
        in oklab,
        var(--solid-general-components-Button-button-color) 34%,
        var(--solid-general-components-background-color)
      );
      cursor: not-allowed;
    }
    &:not(:disabled) {
      cursor: pointer;

      @media (any-hover: hover) {
        &:hover {
          background-color: oklch(from var(--solid-general-components-Button-button-color) calc(l - 0.05) c h);
        }
      }
      &:active {
        background-color: oklch(from var(--solid-general-components-Button-button-color) calc(l - 0.1) c h);
      }
    }
  }
}
