.solid-general-components-Modal_root {
  width: fit-content;
  max-width: unset;
  height: fit-content;
  max-height: unset;
  padding: 2.5em;

  border: unset;
  box-shadow: 0 0 0.5em 0.1em oklch(0 0 0 / 10%);
  border-radius: 0.4em;

  color: unset;
  background-color: var(--solid-design-parts-background-color);
  overflow: unset;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
