@layer solid-general-components {
  .solid-general-components-Modal_root {
    position: fixed;
    box-sizing: border-box;
    width: fit-content;
    min-width: 10em;
    max-width: 100dvw;
    height: fit-content;
    max-height: 100dvh;
    margin: auto;
    padding: 0;
    overflow: unset;
    border: unset;
    border-radius: 0.4em;
    background-color: var(--solid-general-components-background-color);
    box-shadow: 0 2px 5px oklch(0% 0 0 / 20%);
    color: unset;
    inset: 0;
    
    &::backdrop {
      background-color: rgba(0 0 0 / 3%);
    }
    
    &,
    &::backdrop {
      transition-property: opacity, overlay, display;
      transition-duration: 300ms;
      opacity: 0;
      transition-behavior: allow-discrete;
    }
    
    &:modal {
      &,
      &::backdrop {
        opacity: 1
      }
      
      @starting-style {
        &,
        &::backdrop {
          opacity: 0;
        }
      }
    }
  }
  
  .solid-general-components-Modal_titleBar {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) auto minmax(max-content, 1fr);
    align-items: center;
    
    /* Dummy element for grid layout */
    &:before {
      content: '';
    }
  }
  
  .solid-general-components-Modal_title {
    margin: 0.3em;
    color: oklch(45% 0 0);
    font-size: 1.1em;
    font-weight: bold;
    white-space: pre-wrap;
  }
  
  .solid-general-components-Modal_closeButton {
    margin-left: auto;
    color: oklch(45% 0 0);
  }
}
